body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #4a649e
}
h1{
  text-align: right;
}
  


#todo-app {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  background-color: #d6e6fdfe;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#todo-form {
  display: flex;
}
#todo-form input[type="text"] {
  width: 70%;
  padding: 10px;
  border: 2px solid #5aa5ff;
  background: #ebf0ff;;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}
  
#todo-form button {
  padding: 10px 20px;
  background-color: #4682B4;
  color: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s;
}
  
#todo-form button:hover {
  background-color: #426ca7fe;
}



#todo-list {
  list-style: none;
  padding: 0;
}
  
#todo-list li {
  background-color: #4682B4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #fff;
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#todo-list li span {
  width: 50%;
}
#todo-list li input {
  width: 20px;
  height: 20px;
}
  
#todo-list li button {
  border-radius: 4px;
  border: 1px solid #bbb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 3px 10px;
}










 